<div class="container-fluid bg-dark navbar-dark">
  <div class="row">
    <div class="col-sm-4">
      <img
        class="logotype"
        src="/assets/img/logos/logo.png"
        alt="LogoTipo de la tienda"
      />
    </div>
    <div class="col-sm-4 justify-content-center text-center m-auto">
      <span class=""
        ><i class="fas fa-truck"></i>&nbsp;&nbsp;Envios <b>GRATIS</b> por las
        compras que realices</span
      >
    </div>
    <div class="col-sm-4 justify-content-center text-center m-auto">
      <a
        class="nav-link"
        [routerLink]="['/faq']"
        routerLinkActive="router-link-active"
      >
        <i class="fas fa-question-circle"></i>&nbsp;&nbsp;<span
          >Ayuda - Preguntas frecuentes</span
        ></a
      >
    </div>
  </div>
</div>
