<div class="container-fluid bg-dark navbar-dark">
  <div class="d-flex justify-content-between">
    <div>
      <img
        class="logotype"
        src="/assets/img/logos/gamezonia.png"
        alt="LogoTipo de la tienda"
      />
    </div>
    <div><p>jhon.charryserrato@gmail.com</p></div>
    <div class="d-flex flex-row-reverse">
      <a class="nav-link active" href="#">Active link</a>
      <a class="nav-link" href="#">Link</a>
      <a class="nav-link disabled" href="#">Disabled link</a>
    </div>
  </div>
</div>
