<div class="container">
  <div class="row">
    <div class="col-lg"></div>
    <div class="col-lg-6">
      <div class="custom-div-border">
        <h1>User activation</h1>
        <p>To activate your user, please click on activation button.</p>
        <hr />

        <div class="row">
          <div class="col-lg">
            <button type="submit" class="signup-btn" (click)="activateUser()">
              Activate
            </button>
          </div>
        </div>
      </div>
    </div>

    <div class="col-lg"></div>
  </div>
</div>
