<nav class="navbar navbar-expand-sm navbar-dark custom-bg sticky-top ps-4">
  <ul class="navbar-nav me-auto mb-2 mb-lg-0">
    <li class="nav-item">
      <a
        class="nav-link"
        [routerLink]="['/']"
        routerLinkActive="router-link-active"
        >Home</a
      >
    </li>
    <li class="nav-item">
      <a class="nav-link" href="#">Admin</a>
    </li>
    <li class="nav-item">
      <a
        class="nav-link"
        [routerLink]="['/contact']"
        routerLinkActive="router-link-active"
        >Contact</a
      >
    </li>
  </ul>
</nav>
