<div class="container" *ngIf="!loading">
  <p>En este apartado encontraremos nuestros pedidos desde el mas reciente</p>

  <table class="table table-striped">
    <thead>
      <tr>
        <th scope="col">Description</th>
        <th scope="col">Price ({{ currencySelect }})</th>
        <th scope="col">Date</th>
        <th scope="col">More details</th>
      </tr>
    </thead>
    <tbody>
      <tr *ngFor="let data of charges">
        <td>{{ data.description }}</td>
        <td>{{ data.amount }}</td>
        <td>{{ data.created | date: "yyyy-MM-dd hh:mm:ss" }}</td>
        <td>
          <a href="{{ data.receiptUrl }}" target="_blank">Factura</a>
        </td>
      </tr>
    </tbody>
  </table>
  <div class="row">
    <div class="col-lg text-center">
      <button
        *ngIf="loadMoreBtn"
        class="btn btn-dark"
        (click)="loadChargesData()"
      >
        Load more orders
      </button>
    </div>
  </div>
</div>
