<div class="container">
  <div class="row">
    <div class="col-lg"></div>
    <div class="col-lg-6">
      <form [formGroup]="changePasswordForm" (ngSubmit)="changePassword()">
        <h1>Change password</h1>
        <p>Introduzca la nueva contraseña</p>
        <hr />
        <div class="mb-3">
          <label for="psw"><b>Contraseña</b></label>
          <input
            type="password"
            placeholder="Introduzca la contraseña"
            name="psw"
            formControlName="password"
            class="form-control"
            [ngClass]="{
              'is-invalid': submitted && getControl.password.errors
            }"
            required
          />
          <div
            *ngIf="submitted && getControl.password.errors"
            class="invalid-feedback"
          >
            <div *ngIf="getControl.password.errors.required">
              Password is required
            </div>
          </div>
        </div>

        <div class="mb-3">
          <label for="psw"><b>Confirm password</b></label>
          <input
            type="password"
            placeholder="Introduzca la contraseña"
            name="psw"
            formControlName="confirmPassword"
            class="form-control"
            [ngClass]="{
              'is-invalid': submitted && getControl.confirmPassword.errors
            }"
            required
          />
          <div
            *ngIf="submitted && getControl.confirmPassword.errors"
            class="invalid-feedback"
          >
            <div *ngIf="getControl.confirmPassword.errors.required">
              Confirm password is required
            </div>
            <div *ngIf="getControl.confirmPassword.errors.mustMatch">
              Passsword and Confirm Password didn't match.
            </div>
          </div>
        </div>

        <div class="row">
          <div class="col-lg">
            <button type="submit" class="signup-btn">Change password</button>
          </div>
        </div>
      </form>
    </div>
    <div class="col-lg"></div>
  </div>
</div>
