/** Price styles**/
@import url("../../../../../assets/styles/prices.scss");

.container {
  margin-top: 25px;
}

.mini {
  margin-bottom: 10px;
}

#screens-section {
  padding-right: 0px;
}

// Responsive

@media (max-width: 600px) {
  #screens-section {
    display: none;
  }
}

.main-img,
.more-games {
  object-fit: cover;
  object-position: center;
  display: block;
  height: 100%;
  width: 100%;
}

// More Games - Random items

.more-games {
  max-height: 105px;
}

/* Container holding the image and the text */

.preview-play-button {
  position: relative;
  text-align: center;
  color: white;
}
.play-centered {
  position: absolute;
  top: 50%;
  left: 50%;
  transform: translate(-50%, -50%);
}

// Images Effects
.cards {
  transition: all 0.2s ease;
  cursor: pointer;
}

.cards:hover {
  box-shadow: 5px 6px 6px 2px #e9ecef;
  transform: scale(1.1);
}

// Card Bootstrap

.card {
  padding: 0px;
  margin: 0px 15px;
}
.card a {
  text-decoration: none;
  color: #212529;
}

@media (max-width: 768px) {
  .card {
    padding: 0px;
    margin: 0px;
  }
}

// ***************************
.video-fluid {
  width: 100%;
  height: auto;
}

// ***************************
.cursor-pointer {
  cursor: pointer;
}
